body {
  width: 900px;
  margin: 0 auto;
  font-family: Verdana, Arial, sans-serif;
  background-color: rgb(231, 231, 231);
  text-align: center;
}

ul,
ol {
  background-color: antiquewhite;
  padding: 15px 50px;
  /* margin-left: 40px; */
  width: 400px;
  margin: 0 auto;
}

li {
  text-align: left;
  margin: 20px;
}

h3 {
  margin-top: 60px;
}
